.App {
    /*max-width: 600px;
    margin: 0 auto;
    background-color: #efefef;*/
  }
  

  .App-header {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  

  .add{
      align-items: center;
      flex-direction: row;
  }
  
  .App-link {
    color: #61dafb;
  }
